# server
DATABASE_URL=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_CLIENT_ID=
CLIENT_URL=
GITHUB_OAUTH_CLIENT_ID=
GITHUB_OAUTH_CLIENT_SECRET=
REDDIT_OAUTH_CLIENT_ID=
REDDIT_OAUTH_CLIENT_SECRET=
DISQUS_OAUTH_CLIENT_ID=
DISQUS_OAUTH_CLIENT_SECRET=
SECRET_KEY=
IMAGE_PATH=
ALGOLIA_API_KEY=
MAILGUN_API_KEY=
MAILGUN_DOMAIN=

# shared
NEXT_PUBLIC_API_ENDPOINT=
NEXT_PUBLIC_ALGOLIA_APP_ID=
NEXT_PUBLIC_ALGOLIA_INDEX_NAME=
NEXT_PUBLIC_DEFAULT_CLIENT_ID=
NEXT_PUBLIC_DEFAULT_BLOG_ID=
NEXT_PUBLIC_DEFAULT_BLOG_NAME=
NEXT_PUBLIC_DEFAULT_BLOG_SLOGAN=
NEXT_PUBLIC_TWITTER_HANDLE=

# client
NEXT_PUBLIC_SUPPORTED_OAUTH_PROVIDERS=google,github,reddit,disqus
NEXT_PUBLIC_ALGOLIA_API_KEY=