DATABASE_URL
GOOGLE_OAUTH_CLIENT_SECRET
GOOGLE_OAUTH_CLIENT_ID
API_URL
CLIENT_URL
GITHUB_OAUTH_CLIENT_ID
GITHUB_OAUTH_CLIENT_SECRET
REDDIT_OAUTH_CLIENT_ID
REDDIT_OAUTH_CLIENT_SECRET
SECRET_KEY
IMAGE_PATH

NEXT_PUBLIC_API_ENDPOINT
NEXT_PUBLIC_SUPPORTED_OAUTH_PROVIDERS

DEFAULT_CLIENT_ID
DEFAULT_BLOG_ID
DEFAULT_ADMIN_ID
DEFAULT_BLOG_NAME