@keyframes fadeOutRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.scroll-to-top {
    position: fixed;
    right: 0;
    bottom: 1rem;
    width: 2.2rem;
    height: 2.2rem;
    text-align: center;
    color: #fff;
    background: rgba(90, 92, 105, 0.3);
    line-height: 37px;

    &.hidden{
        opacity: 0;
        animation: fadeOutRight 1s 1 cubic-bezier(.77,0,.175,1);
    }

    &.show{
        opacity: 1;
        animation: fadeInRight 1s 1 cubic-bezier(.77,0,.175,1);
    }

    &:focus, &:hover {
        color: white;
    }

    &:hover {
        background: rgba(90, 92, 105, 0.8);
    }

    & i {
        font-weight: 800;
    }
}

